{% extends 'base.html' %}


{% block main %}

{% with messages = get_flashed_messages() %}
         {% if messages %}
              <ul class="flashes">
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
              </ul>
         {% endif %}
      {% endwith %}

<h1 class="headin"> Profiles </h1>





<div class="flex-container">

      {% for profile in profiles %}
        <div class="pfile">
            <div class="propic">
              <img src="{{ url_for('static', filename=('images/' + profile.profilepicture)) }}" alt="User Profile IMage" class="img-thumbnail" height=100 width=100>
            </div>

          <div class="about">
            <h3>{{ profile.firstname }} {{ profile.lastname }}</h3>
            <ul class="about-info">
              <li> <img src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"/> {{ profile.location }}</li>
              <li> <img src="https://img.icons8.com/windows/32/000000/person-male.png" alt="icon for person">{{ profile.gender }}</li>
            </ul>
          </div>

          <button class="view-profile" type="button" onclick="window.location.href='{{ url_for('uprofile', userid=profile.id) }}'" name="button"> View Profile </button>
        </div>
     {% endfor %}
</div>


{% endblock %}
